<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Entrar</h3></div>
                            <div class="card-body">
                                <div class="alert alert-danger" *ngIf="loginError">
                                    Login e/ou Senha incorreto(s).
                                </div>

                                <form #loginForm="ngForm" (submit)="onSubmit()">
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputUsuario">Login</label>
                                        <input [(ngModel)]="username" class="form-control py-4" 
                                               name="username" type="text"
                                               id="inputUsuario" placeholder="Digite seu login" />
                                    </div>
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputPassword">Senha</label>
                                        <input [(ngModel)]="password" name="password"
                                               class="form-control py-4" id="inputPassword" 
                                               type="password" placeholder="Digite a senha" />
                                    </div>
                      
                                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <button type="submit" class="btn btn-primary">
                                            Enviar
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center">
                                <div class="small"><a href="register.html">Não tem usuário? Cadastre-se!</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2019</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>