<app-navbar></app-navbar>
<div id="layoutSidenav">
  <app-sidebar></app-sidebar> 
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <app-home></app-home>
      </div>
      <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Meus Clientes 2020</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
    </main>
  </div>
</div>