<mat-toolbar>Contatos</mat-toolbar>
<form [formGroup]="formulario" (ngSubmit)="submit()">

    <mat-form-field class="full-width">
        <mat-label>Nome: </mat-label>
        <input formControlName="nome" matInput placeholder="Digite seu nome" />
    </mat-form-field>
    <div *ngIf="formulario.controls.nome.errors">
        <div *ngIf="formulario.controls.nome.errors.required">
            Campo nome é obrigatório.
        </div>
    </div>
    
    <mat-form-field class="full-width">
        <mat-label>Email: </mat-label>
        <input formControlName="email" matInput placeholder="Digite seu email" />
    </mat-form-field>

    <div *ngIf="formulario.controls.email.errors">
        <div *ngIf="formulario.controls.email.errors.required">
            Campo Email é obrigatório
        </div>
        <div *ngIf="formulario.controls.email.errors.email">
            Email inválido
        </div>
    </div>

    <button mat-button color="primary">Adicionar</button>

</form>